/* *{
    margin:0; 
    padding:0;
} */
body{
	background:  #91fdcd;
    /* min-height: 100vh;
    display: flex; */
} 
.cars * {
	font-family: arial, sans-serif;
}
.cars {
	border: 1px solid #ccc;
	max-width: 400px;
	margin: 0 auto;
	padding: 10px;
}
.cars__title {
	font-family: 'Josefin Sans', sans-serif;
	padding: 10px 0;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.cars__label {
	display: block;
	margin-bottom: 10px;
}
.cars__input {
	display: block;
	border: 1px solid #ddd;
	height: 25px;
	padding: 5px;
	box-sizing: border-box;
	font-size: 12px;
	margin-bottom: 10px;
}

.cars__button {
	padding: 5px 10px;
	background-color: #0963ef;
	border: none;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	height: 25px;
}